<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WYP</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>wyp.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>wyp.web.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateServlet</servlet-name>
    <servlet-class>wyp.web.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateServlet</servlet-name>
    <url-pattern>/updateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>exitServlet</servlet-name>
    <servlet-class>wyp.web.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exitServlet</servlet-name>
    <url-pattern>/exitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>downloadServlet</servlet-name>
    <servlet-class>wyp.web.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadServlet</servlet-name>
    <url-pattern>/downloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>publishServlet</servlet-name>
    <servlet-class>wyp.web.PublishServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>publishServlet</servlet-name>
    <url-pattern>/publishServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cancleServlet</servlet-name>
    <servlet-class>wyp.web.CancleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancleServlet</servlet-name>
    <url-pattern>/cancleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listServlet</servlet-name>
    <servlet-class>wyp.web.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listServlet</servlet-name>
    <url-pattern>/listServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>applyServlet</servlet-name>
    <servlet-class>wyp.web.ApplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>applyServlet</servlet-name>
    <url-pattern>/applyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>informServlet</servlet-name>
    <servlet-class>wyp.web.InformServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>informServlet</servlet-name>
    <url-pattern>/informServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateOneServlet</servlet-name>
    <servlet-class>wyp.web.UpdateOneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateOneServlet</servlet-name>
    <url-pattern>/updateOneServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>updateOneServlet2</servlet-name>
    <servlet-class>wyp.web.UpdateOneServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateOneServlet2</servlet-name>
    <url-pattern>/updateOneServlet2</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>encondingFilter</filter-name>
    <filter-class>wyp.web.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encondingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>